<div class="pageTitle">
<h1 class="cats">Adoptable Cats</h1>
</div>

<div class="container" ng-controller="catsController">
  <div class="col-md-6">
    <button ng-click="getRandomPet()">Find Random Pet</button>
    <div class="mainContainer">
    <h2 class="petName">{{animal.name.$t}}</h2>
    <img ng-src="{{animal.media.photos.photo[2].$t}}"/>
    </div>
    <p>{{animal.description.$t}}</p>
  </div>
  <div class="col-md-6">
    <input type="text" ng-model="breed" placeholder="Enter animal type" />
    <button ng-click="getBreeds()">Get Breeds</button>
    <h2 class="breeds" ng-if="breeds != undefined">Breeds of {{breed}}</h2>
    <ul>
      <li ng-repeat="breed in breeds">{{breed.$t}}</li>
    </ul>
  </div>
</div>
